SERVER_PORT=

DB_USER = 
DB_PASS = 
DB_DATABASE = 
DB_CP = 
DB_CE = 

OFFICE365SERVICE_TENANT_ID = 
OFFICE365SERVICE_CLIENT_ID = 
OFFICE365SERVICE_CLIENT_SECRET= 
OFFICE365SERVICE_SENDER = 
OFFICE365SERVICE_PASSWORD = 
VIDEO_CLIENT_CORS_ORIGIN=